<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <a href="/updateCampaign"><button class="btn btn-default" type="button" >Add New Campaign</button></a>
            <br/><br/>
            <div class="card">
                <div class="header">
                    <h4 class="title">Campaigns</h4>
                </div>
                <div class="content">
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Status
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="#" >Active</a></li>
                      <li><a href="/campaigns">Inactive</a></li>
                    </ul>
                  </div>
                  <table class="table">
                      <thead>
                          <tr>
                            <th>Campaign Name</th>
                            <th>Campaign Type</th>
                            <th>Advertiser</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td><a href="/updateCampaign" (click)="updateCampaign()">My Test Campaign</a></td>
                              <td>Display, Search</td>
                              <td><a href="/updateCampaign" (click)="updateAdvertiser()">PaperJag</a></td>
                              <td><a href="/campaigns" (click)="deleteCampaign()"><i class="pe-7s-trash"></i></a></td>
                            </tr>
                            <tr>
                              <td><a href="/updateCampaign" (click)="updateCampaign()">Another Test Campaign</a></td>
                              <td>Display</td>
                              <td><a href="/updateCampaign" (click)="updateAdvertiser()">PaperJag</a></td>
                              <td><a href="/campaigns" (click)="deleteCampaign()"><i class="pe-7s-trash"></i></a></td>
                            </tr>
                        </tbody>
                  </table>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
<style>
  .fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
  }

  .fade-scale.in {
    opacity: 1;
    transform: scale(1);
  }

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
