<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group" *ngIf="accountName">
                                        <label>Company (disabled)</label>
                                        <input type="text" name="companyName" id="companyName" class="form-control" disabled placeholder="Company" [(ngModel)]="accountName" #uName="ngModel">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" *ngIf="user">
                                        <label>Username</label>
                                        <input type="text" class="form-control" name="userName" id="userName" placeholder="Username" [(ngModel)]="user.username" #uName="ngModel">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" *ngIf="user">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" #uName="ngModel">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Reset Password</label>
                                        <input type="password" class="form-control" placeholder="password" name="password" id="password" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" id="accessType" name="accessType" [(ngModel)]="userStatus">
                                                <option *ngFor="let stat of status" [value]="stat.value">
                                                    {{stat.label}}
                                                </option>
                                                
                                              </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                        <label>Access Type</label>
                                    <div class="form-group">
                                        
                                        <label class="checkbox-inline"><input type="checkbox" name="admin">Admin</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="create">Create</label>
                                        <label class="checkbox-inline"><input type="checkbox" name="read">Read</label>

                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</div>
